:root {
  --white: #fff;
  --primary: #57606f;
  --light: #f1f2f6;
  --dark: #2f3542;
  --danger: #ff4757;
  --warning: #ffa502;
  --gray: #a4b0be;

  --default-transition: 500ms;
}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
