@import './variables.scss';

* {
  font-family: 'Inconsolata';
  outline: none;
}

body {
  margin: 0;
  padding: 0;
}

button {
  color: var(--light);
  background: var(--primary);
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
  transition: var(--default-transition);

  &:hover {
    background: var(--dark);
  }
}

input {
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
}

main {
  display: grid;
  grid-template-rows: 10vh 70vh 20vh;
  text-align: center;

  .g-playlist-table-screen {
    grid-template-rows: 10vh 90vh;
  }

  header {
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
      user-select: none;
    }
  }

  .playlist-items {
    height: 100%;
    overflow-y: auto;

    .playlist-item-placeholder {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem 0;

      .add-new-button {
        width: 20vw;
      }
    }

    .playlist-item {
      display: grid;
      grid-template-columns: 1fr 5fr 3fr 3fr 1fr 1fr;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid var(--light);
      cursor: pointer;
      transition: var(--default-transition);

      &:hover {
        background: var(--light);
      }

      &-name,
      &-link {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .action-button {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .delete-button:hover {
        color: var(--white);
        background: var(--danger);
      }

      .edit-button:hover {
        color: var(--white);
        background: var(--warning);
      }
    }
  }

  .g-playlist {
    &-item {
      display: grid;
      grid-template-columns: 1fr 10fr;
      border-bottom: 1px solid var(--light);
      cursor: pointer;
      transition: var(--default-transition);

      &:hover {
        background: var(--light);
      }

      &-placeholder {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0;
      }

      &-name {
        text-align: left;
      }
    }

    &-items {
      height: 100%;
      overflow-y: auto;
    }
  }

  footer {
    background: var(--light);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    .playlist-name-input {
      width: 30vw;
    }

    .loop-count-input {
      width: 10vw;
    }

    @media screen and (max-width: $tablet-width) {
      .input-groups {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .playlist-name-input {
        width: 100%;
        margin-bottom: 0.5rem;
      }

      .loop-count-input {
        width: 100%;
      }
    }

    .generate-button {
      font-size: 2rem;
    }
  }
}

.hide {
  display: none;
}
